/* © Victor Loots, 2022
/*
/* Fonts */
@font-face {
  font-family: "domineregular";
  src: url("../fonts/domine-regular-webfont.eot");
  src: url("../fonts/domine-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/domine-regular-webfont.woff2") format("woff2"),
    url("../fonts/domine-regular-webfont.woff") format("woff"),
    url("../fonts/domine-regular-webfont.ttf") format("truetype"),
    url("../fonts/domine-regular-webfont.svg#domineregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserratregular";
  src: url("../fonts/montserrat-regular-webfont.eot");
  src: url("../fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("../fonts/montserrat-regular-webfont.woff") format("woff"),
    url("../fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("../fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open_sansregular";
  src: url("../fonts/opensans-regular-webfont.eot");
  src: url("../fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("../fonts/opensans-regular-webfont.woff2") format("woff2"),
    url("../fonts/opensans-regular-webfont.woff") format("woff"),
    url("../fonts/opensans-regular-webfont.ttf") format("truetype"),
    url("../fonts/opensans-regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?53836006');
  src: url('../fonts/fontello.eot?53836006#iefix') format('embedded-opentype'),
    url('../fonts/fontello.woff2?53836006') format('woff2'),
    url('../fonts/fontello.woff?53836006') format('woff'),
    url('../fonts/fontello.ttf?53836006') format('truetype'),
    url('../fonts/fontello.svg?53836006#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-home-outline:before {
  content: '\e800';
}

.icon-users-outline:before {
  content: '\e801';
}

.icon-key-outline:before {
  content: '\e802';
}

.icon-user-outline:before {
  content: '\e803';
}

.icon-monitor:before {
  content: '\e804';
}

.icon-globe:before {
  content: '\e805';
}

.icon-newspaper:before {
  content: '\e806';
}



/*
/* Variabelen */
:root {
  --font_titel: "domineregular", Georgia, serif;
  --font_subtitel: "montserratregular", Verdana, sans-serif;
  --font-brood: "open_sansregular", Verdana, sans-serif;
  --kleur_wit: #f8f7f3;
  --kleur_zwart: #303030;
}

/* 
/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
/* Standards */
body {
  min-height: 100%;
  color: var(--kleur_zwart);
  background-color: var(--kleur_wit);
  font-family: var(--font-brood);
  font-size: 1rem;
  line-height: 1.5;
}

#container{
  margin: 1rem;
}
h1 {
  text-align: center;
  font-family: var(--font_titel);
  padding: 4vh 0;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(200px, auto);
  gap: 1rem;
}
.grid .item:nth-of-type(1){
  grid-area: 2/1/3/1;
}
.grid .item:nth-of-type(2){
  grid-area: 1/2/2/2;
}
.grid .item:nth-of-type(3){
  grid-area: 2/3/3/3;
}
.grid .item:nth-of-type(4){
  grid-area: 4/1/5/1;
}
.grid .item:nth-of-type(5){
  grid-area: 4/2/5/2;
}
.grid .item:nth-of-type(6){
  grid-area: 5/3/6/3;
}
.item{
  width: 100%;
  height: 250px;
}
.icon {
  font-family: 'fontello';
  font-size: 3rem;
  text-align: center;
}
.item .h2{
font-size: 2rem;
}
.item p{
  font-size: 1rem;
}

footer {
  display: flex;
  justify-content: space-around;
  font-family: var(--font_subtitel);
  padding: 2vh 0 1vh 0;
}

@media (min-width: 750px) {
  #container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
  }
}